:root {
  --myLightGray: hsl(210, 23.5%, 93.3%);
  --myMediumGray: hsl(222, 7.9%, 75.3%);
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  align-items: center;
}
body > header {
  text-align: center;
}
body > header h3,
body > header p {
  margin: 0;
  padding: 10px;
  background-color: gainsboro;
  width: 100vw;
}
main {
  width: 100%;
  padding: 20px;
}
section {
  min-width: 550px;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header.borders {
  width: 100%;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
header.borders > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*
 ************************
  style the radio buttons
 ************************
*/
.borderColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
}
#colorRadios {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
/*
 ***********************
  style the range input
 ***********************
*/
input[type='range'] {
  -webkit-appearance: none; /* Hides slider so custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* removes white background */
}
/* Track styles for Chrome */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 3px;
  background-color: var(--myMediumGray);
  border-radius: 10px;
}
/* Track styles for Firefox */
input[type='range']::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 3px;
  background-color: var(--myMediumGray);
  border-radius: 10px;
}
/* Thumb styles for Chrome */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1.5px solid var(--myMediumGray);
  height: 13px;
  width: 14px;
  border-radius: 40%;
  background-color: var(--myLightGray);
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* Thumb Styles For Firefox */
input[type='range']::-moz-range-thumb {
  border: 1.5px solid var(--myMediumGray);
  height: 13px;
  width: 14px;
  border-radius: 40%;
  background-color: var(--myLightGray);
  cursor: pointer;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 230px);
  grid-template-rows: repeat(3, 230px);
  grid-gap: 20px;
}
.box {
  width: 230;
  height: 230;
  text-align: center;
  line-height: 14em;
  font-weight: bold;
}
.box1 {
  border: solid 6px deeppink;
}
.box2 {
  border: dotted 6px deeppink;
}
.box3 {
  border: dashed 6px deeppink;
}
.box4 {
  border: double 6px deeppink;
}
.box5 {
  border: groove 6px deeppink;
}
.box6 {
  border: ridge 6px deeppink;
}
.box7 {
  border: inset 6px deeppink;
}
.box8 {
  border: outset 6px deeppink;
}
.box9 {
  border-style: dotted dashed solid ridge;
  border-width: 6px;
  border-color: deeppink;
}
